:root {
    --blue-dark: #011F4B;
    --blue-medium: #005b96;
    --blue-light: #b3cde0;
}

main {
    display: flex;
    flex-wrap: wrap;
}

main section {
    min-height: 100vh;
}


/*  */
/* SIDEBAR */

.sidebar {
    flex: 1 1 23%;
    padding: 28px 14px;
    background-color: var(--blue-dark);
    color: var(--blue-light);
}

/* profile section */
.profile {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
    margin-bottom: 40px;
}

.profile-pic-wrapper {
    background-color: var(--blue-light);
    height: 200px;
    width: 200px;
    border-radius: 50%;
}

.personal-info {
    font-size: 2rem;
}

.socials {
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: center;
}

.card {
    display: flex;
    align-items: center;
    gap: 6px;
}

.card-img-wrapper {
    max-width: 25px;
    max-height: 25px;
}

/* tech-stack section */
.tech-stack {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 12px;
}


/*  */
/* PROJECTS */

.projects {
    flex: 1 1 72%;
    background-color: aliceblue;
}
