:root {
    --green-dark: #182c25;
    --green-medium: #306844;
    --green-light: #e8fee8;
    --orange-light: #ff9a00;
    --orange-medium: #ff7400;
    --dark: #303030;
    --medium-grey: #c9c9c9;
    --light-grey: #f7f7f7;
    --white: #fff;
}

body {
    font-family: "Montserrat", sans-serif;
}

main {
    display: flex;
    height: 100vh;
}


/*  */
/* SIDEBAR */

.sidebar {
    position: fixed;
    min-width: 360px;
    width: 25vw;
    height: 100%;
    flex: 1 1 23%;
    padding: 50px 14px;
    background-color: var(--green-dark);
    color: var(--white);
}

/* profile section */
.profile {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 35px;
    margin-bottom: 40px;
}

.profile-pic-wrapper {
    background-color: var(--orange-light);
    height: 200px;
    width: 200px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 2px solid var(--orange-medium);
}

.profile-pic-wrapper img {
    border-radius: 50%;
}


.personal-info {
    font-size: 2rem;
}

.highlight {
    color: var(--orange-medium);
    font-weight: 600;
}

.socials {
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: center;
}

.card {
    display: flex;
    align-items: center;
    gap: 6px;
}

.card-img-wrapper {
    max-width: 25px;
    max-height: 25px;
}

.card-img-wrapper img {
    color: var(--orange-light);
}

/* tech-stack section */
.tech-stack {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    row-gap: 20px;
    column-gap: 12px;
}


/*  */
/* PROJECTS */

.projects {
    margin-left: max(360px, 25vw);
    flex: auto;
    display: flex;
    flex-direction: column;
    background-color: var(--light-grey);
    overflow-y: hidden;
}

/* project details */
.project-details {
    position: relative;
    max-height: 90px;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

.info {
    position: absolute;
    margin: auto;
    transition: transform .2s;
}

.info.active {
    color: var(--medium-grey);
}

.info:not(.active) {
    background-color: rebeccapurple;
    transform: translateY(70px);
}

.stack-details {
    position: absolute;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 10px;
    padding: 10px 24px;
    transform: translateY(-70px);
    transition: transform .3s;
    transition-delay: .1s;
}

.stack-details.active {
    transform: translateY(0);
}


/* projects grid */
.projects-grid {
    flex-basis: 100%;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(325px, 400px));
    justify-content: center;
    align-content: flex-start;
    gap: 20px;
    overflow-y: auto;
}

.project {
    height: 325px;
    background-color: var(--white);
    border-radius: 14px;
    display: flex;
    flex-direction: column;
    box-shadow: 3px 3px 10px -5px var(--green-medium);
    cursor: pointer;
    transition: transform 0.2s;
}

.project:hover {
    transform: scale(1.02);
}

.header-img-wrapper {
    max-height: 90px;
    height: 100%;
    display: flex;
}

.header-img-wrapper img {
    border-radius: 14px 14px 0 0;
}

.project > *:not(.header-img-wrapper) {
    padding: 12px 24px;
}

.project h3 {
    font-size: 1.5rem;
}

.project-links {
    margin-top: auto;
    display: flex;
    justify-content: space-around;
    border-top: 1px solid var(--medium-grey);
}

.project-link {
    padding: 8px 16px;
    font-weight: 600;
    color: var(--medium-grey);
}

.active {
    cursor: pointer;
    color: var(--dark);
}
